<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nabla&family=Tektur&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nabla&display=swap"
      rel="stylesheet"
    />
    <title>Job Tracker</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body
    style="background-image: url('/public/images/main\%20page\%20bg\%20img.jpeg'); background-size: cover"
  >

    <div class="flex-column justify-space-around">
      <header class="display-flex justify-space-between align-center p-2">
        <h1>
          <a href="/">Home</a>
        </h1>
        <nav>
          {{#if logged_in}}
            <a href="/dashboard">Dashboard</a>
            <button id="logout" class="logout">Logout</button>
          {{else}}
            <a href="/login">Login</a>
            |
            <a href="/signup">SignUp</a>
          {{/if}}
        </nav>
      </header>
      <div class="site-row">
        <div class="site_name">
          <h1>Talent Tracker</h1>

        </div>

        <div class="subtitle" style="text-align: center" ;>
          <h2 style="font-size: 28px;">
            We're here to help you find your dream job!</h2>
        </div>


      </div>
      <main class="container container-fluid mt-5">
        {{{body}}}
      </main>
    </div>
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>