<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nabla&display=swap"
      rel="stylesheet"
    />
    <title>Job Tracker</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="flex-column justify-space-around">
      <header class="display-flex justify-space-between align-center p-2">
        <h1>
          <a href="/">Home</a>
        </h1>
        <nav>
          {{#if loggedIn}}
            <a href="/dashboard">Dashboard</a>
            <button id="logout" class="logout">Logout</button>
          {{else}}
            <a href="/login">login</a>
            |
            <a href="/signup">SignUp</a>
          {{/if}}
        </nav>
      </header>
      <div class="site-row">
        <div class="site_name">
          <h1>Job Tracker</h1>
        </div>
      </div>
      <main class="container container-fluid mt-5">
        {{{body}}}
      </main>
    </div>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>