
{{#if loggedIn}}
  <button id="logout" class="logout" onclick="window.location='/logout'">Logout</button>
  {{!-- Add a log to check the value of loggedIn --}}
  <p>{{loggedIn}}</p>
{{/if}}

{{#each jobs as |job|}}
  <div class="row user-container">
    <div class="col-auto">
    </div>
    <div class="row mt-4">
      {{#if jobs.length}}{{else}}
        <p>You don't have any job applications yet.</p>
      {{/if}}
    </div>
  </div>
{{/each}}