<div class="job-card">
  <div class="job-card-header">

    <h2>
      {{jobTitle}}
        <p>Company Name:{{companyName}}</p>
        <p>Salary:{{salary}}</p>
        <p>Status:{{job.applicationStatus}}</p>
    </h2>
    
  </div>
</div>