<div class="job-card">
    <div class="job-card-header">
        
        <h2>
             {{!-- {{job_name}} (needed from controller)--}} 
        </h2>
        {{!-- <p> {{description}}</p> (needed from controller)--}}
    </div>
</div>