{{#if loggedIn}}
  <main class="container container-fluid mt-5">
    <div id="jobApplicationsContainer">
      <div>helo</div>
    </div>
    <button id="addJobApplicationBtn">Add Job Application</button>
  </main>
{{/if}}
{{{body}}}