<section class="signup-pg">
  <div class="signup-container">
    <div class="container">
      <h1>Sign Up</h1>
    </div>
    <div class="form_section">
      <form id="signupForm">
        <div class="container signup" id="signupForm">
          <label for="user-name-signup">Create a Username</label>
          <input type="text" id="user-name-signup" class="entry-field" />
        </div>
        <div>
          <label for="pwd">Create a Password:</label>
          <input
            type="password"
            id="pwd"
            placeholder="Password"
            class="entry-field"
          />
        </div>
        <div>
          <button type="submit" class="login_sgnup-btn">Sign up</button>
        </div>
      </form>
    </div>
    <a href="/login" class="login_link">Login in instead</a>
  </div>

  <div class="form_section">
    <form>
      <div class="container signup" id="signupForm">
        <label for="user-name-signup">Create a Username</label>
        <input type="text" id="user-name-signup" class="entry-field" />
      </div>
      <div>
        <label for="pwd">Create a Password:</label>
        <input
          type="password"
          id="pwd"
          placeholder="Password"
          class="entry-field"
        />
      </div>
      <div>
        <button type="submit" class="login_sgnup-btn">Sign up</button>
      </div>
    </form>
  </div>
  <a href="/login" class="login_link">Login in instead</a>

</section>
<script src="js/signup.js"></script>